:root {
  /*   --borde-boton-o: 2px solid #1ffd85;*/

  --relleno-1: 1rem;
  --margen-1: 1rem;
  /* --color-po: #00792a; */ /* color primario oscuro */
  --color-po: #032f72; /* color primario oscuro */
  /* color secundario oscuro */

  --color-po-hover: #002357;
  --color-pc: #045f91; /* color primario claro */

  --color-pc-hover: #032f72;

  /* tipografia */
  --fuente-negrita: bold;
  /* tamaños */
  /* color */
}
@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



/* colores */
.btn-primario {
  background-color: var(--color-po);
}
.claro .btn-primario {
  background-color: var(--color-pc);
}

.hover\:btn-primario:hover {
  background-color: var(--color-po-hover);
}

.actual {
  background-color: #002357 !important;
}

.claro .hover\:btn-primario:hover {
  background-color: var(--color-pc-hover);
}

.color-texto-primario {
  color: #96fcfd;
  font-weight: bold;
}

.svg-color-primario {
  fill: var(--color-s);
}

.borde-boton {
  border-bottom: var(--color-borde-boton-uno);
}

.peso-fuente-gruesa {
  font-weight: bold;
}

.m-cuadricula {
  display: grid;
}

.relleno-1 {
  padding: var(--relleno-1);
}

.m\:margen-ar-0 {
  margin-top: 0;
}
.m\:margen-ab-0 {
  margin-bottom: 0;
}
.m\:margen-ar-1 {
  margin-top: var(--margen-1);
}
.m\:margen-ab-1 {
  margin-bottom: var(--margen-1);
}

.f-negrita {
  font-weight: var(--fuente-negrita);
}

/* tipografia */

/* tamaños */
.m\:texto-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}
.m\:texto-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.m\:texto-base {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

/* color */

.texto-color-azul {
  color: var(--color-s);
}

@media (width >= 992px) {
  .margen-ar-0 {
    margin-top: 0;
  }
  .margen-ab-0 {
    margin-bottom: 0;
  }
  .margen-ar-1 {
    margin-top: var(--margen-1);
  }
  .margen-ab-1 {
    margin-bottom: var(--margen-1);
  }

  /* tipografia */

  .texto-xs {
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
  }
  .texto-sm {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
  }
  .texto-base {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
  }
  .texto-lg {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
  }
  .texto-xl {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
  }
  .texto-2xl {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
  }
  .texto-3xl {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
  }
  .texto-4xl {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
  }
}
