:root {
  /*   --borde-boton-o: 2px solid #1ffd85;*/
  --borde-boton-o: 2px solid #98b9d1;
  --borde-boton-c: 2px solid #045f91;
  --relleno-1: 1rem;
  --margen-1: 1rem;
  /* --color-po: #00792a; */ /* color primario oscuro */
  --color-po: #032f72; /* color primario oscuro */
  --color-so: #96fcfd; /* color secundario oscuro */
  
  --color-po-hover: #002357;
  --color-pc: #045f91; /* color primario claro */
  --color-sc: #c810a6; /* color secundario claro */
  
  --color-pc-hover: #032f72;
  

  /* tipografia */
  --fuente-negrita: bold;
  /* tamaños */
}

/* colores */
.btn-primario {
  background-color: var(--color-po);
}
.claro .btn-primario {
  background-color: var(--color-pc);
}


.hover\:btn-primario:hover {
  background-color: var(--color-po-hover);
}

.claro .hover\:btn-primario:hover {
  background-color: var(--color-pc-hover);
}

.color-texto-primario {
  color: var(--color-so);
  font-weight: bold;
}
.claro .color-texto-primario {
  color: var(--color-sc);
  font-weight: bold;
}

.claro .svg-color-primario {
  fill: var(--color-sc);
}

.borde-boton {
  border-bottom: var(--borde-boton-o);
}
.claro .borde-boton {
  border-bottom: var(--borde-boton-c);
}

.peso-fuente-gruesa {
  font-weight: bold;
}

.m-cuadricula {
  display: grid;
}

.relleno-1 {
  padding: var(--relleno-1);
}

.m\:margen-ar-0 {
  margin-top: 0;
}
.m\:margen-ab-0 {
  margin-bottom: 0;
}
.m\:margen-ar-1 {
  margin-top: var(--margen-1);
}
.m\:margen-ab-1 {
  margin-bottom: var(--margen-1);
}

.f-negrita {
  font-weight: var(--fuente-negrita);
}

/* tipografia */

/* tamaños */
.m\:texto-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}
.m\:texto-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.m\:texto-base {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

@media (width >= 992px) {
  .margen-ar-0 {
    margin-top: 0;
  }
  .margen-ab-0 {
    margin-bottom: 0;
  }
  .margen-ar-1 {
    margin-top: var(--margen-1);
  }
  .margen-ab-1 {
    margin-bottom: var(--margen-1);
  }

  /* tipografia */

  .texto-xs {
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
  }
  .texto-sm {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
  }
  .texto-base {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
  }
  .texto-lg {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
  }
  .texto-xl {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
  }
  .texto-2xl {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
  }
  .texto-3xl {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
  }
  .texto-4xl {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
  }
}
